{% extends "templates/base.jinja2" %}

{% block body %}

  <form action="" method="post">
    <p>
      <label for="username">User name:</label>
      <input type="text" name="username" id="username">
    </p>
    <p>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email">
    </p>
    <p>
      <label for="spkac">Sécurisation</label>
      <keygen type="secu" name="spkac" id="spkac" keytype="rsa">
    </p>
    <br /><br />
    <button>Submit</button>
  </form>

  <a href="{{ request.route_path('home') }}">Go home</a>

{% endblock %}